.card-container {
    display: flex;
    box-shadow: .2em .2em .8em black;
    height: 351px;
    width: 1000px;
    margin-bottom: 20px;
}

.card-imagem {
    width: 400px;
    height: 351px;
}
.card-titulo {

    height: 25px;
    font-size: 20px;
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.coracao-favorito {
    height: 20px;
    margin-left: 40px;
}

.texto-avaliacao {
    text-decoration: underline;
}