.foooter-container {
    bottom: -5px;
    display: flex;
    background-color: #504908;
    width: 100vw;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    color: #ffffff;
}

.titulo {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

