.header-container {
    display: flex;
    background-color: #504908;
    width: 100vw;
    height: 80px;
}

.header-titulo {
    position: relative;
    left: 100px;
    top: 22px;
    font-size: 12px;
    color: #ffffff;
}


#primeira-ancora {
    position: relative;
    left: 1000px;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

#segunda-ancora {
    position: relative;
    left: 1100px;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}